/* Estilos del contenedor general */

.containerContainerCard {
    max-width: 1300px;
    margin: 2rem auto;
}


/* Estilos del contenedor de las tarjetas */

.container-card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}


/* Estilos  tarjeta */

.card {
    background: linear-gradient(to bottom right, #00A3da, #53bed8);
    width: 400px;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
}


/* Estilos del contenedor de la imagen */

.containerImg {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.containerImg img {
    width: 100%;
}


/* Estilos del contenedor del texto*/

.containerInfo {
    margin-left: 1em;
    width: 60%;
    color: #FFF;
}